<div class="card z-depth-4 block">
  <div class="card-content">
    <%= render partial: "portfolios/shared/block_header", locals: { title: 'REPOSITÓRIOS GITHUB' } %>
    <div class="row">
      <div id="github-repos" data-portfolio-id='<%= portfolio.id %>'>
        
      </div>
    </div>
  </div>
</div>