<h4>
  Olá, seu premium para o
  <a href=<%= "https://dev.onebitcode.com/#{@portfolio.slug}" %>>portfólio</a>
  irá expirar em breve
</h4>

<hr />

<p style="font-size: 20px; font-weight: 700;">Para contiuar tendo benefícios em nossa plataforma, por favor renove seu plano.</p>

<hr />

<p>
  Obrigado por estar com a gente, 
  <a href="https://dev.onebitcode.com">Dev.OneBitCode</a>
</p>